body {
  position: relative;
  width: 1440px;
  /* height: 1572px; */
  background: #ffffff;
}
.main {
  font-family: "Paytone One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48.83px;
  line-height: 68px;
  text-align: center;
  color: #05034e;
  /* position */
  position: absolute;
  width: 497px;
  height: 136px;
  left: 472px;
  top: 225px;
}
.trytext {
  position: static;
  width: fit-content;
  height: 15px;
  left: 16px;
  top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.try {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 12px 16px; */
  word-wrap: unset;
  position: absolute;
  width: 121px;
  height: 39px;
  left: 1279px;
  top: 41px;
  cursor: pointer;
  background: #5856ce;
  border-radius: 4px;
}
.try:hover {
  background: #5856ce;
  opacity: 0.7;
}

.logo {
  position: absolute;
  width: 128.06px;
  height: 60px;
  left: 40px;
  top: 25px;
}
.login {
  position: absolute;
  width: 52px;
  height: 25px;
  left: 1197px;
  top: 48px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #05034e;
}
.startbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: fit-content;
  height: 41px;
  left: 634px;
  top: 495px;
  background: #5856ce;
  border-radius: 4px;
}
.start {
  position: static;
  width: 97px;
  height: 17px;
  left: 32px;
  top: 12px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  color: #ffffff;
  background: #5856ce;
}
.start:hover {
  opacity: 0.7;
  background: #5856ce;
}
.glyph {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 170px;
  top: 628px;
}
.glyph1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 772px;
  top: 628px;
}
.submain {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #05034e;
  /* position */
  position: absolute;
  line-height: 27px;
  width: 401px;
  height: 54px;
  font-size: 20px;
  left: 227px;
  top: 621px;
}

.submain1 {
  position: absolute;
  width: 358px;
  height: 54px;
  left: 832px;
  top: 621px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #05034e;
}
.para {
  position: absolute;
  width: 873px;
  height: 54px;
  left: 284px;
  top: 385px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #202020;
}
.subpara {
  position: absolute;
  width: 401px;
  height: 88px;
  left: 227px;
  top: 695px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #202020;
}
.subpara1 {
  position: absolute;
  width: 403px;
  height: 88px;
  left: 831px;
  top: 695px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
}
.sbody {
  position: absolute;
  width: 1440px;
  height: 711px;
  left: 0px;
  top: 861px;
  background: #f2f2fd;
}
.Cheading {
  position: absolute;
  width: 494px;
  height: 41px;
  left: 473px;
  top: 80px;
  font-family: Paytone One;
  font-style: normal;
  font-weight: normal;
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  color: #05034e;
}
.innovation {
  position: absolute;
  width: 160px;
  height: 17.55px;
  left: 641px;
  top: 246px;
}
.border {
  position: absolute;
  width: 907px;
  height: 450px;
  left: 267px;
  top: 181px;
  /* z-index: 1; */
  background: #ffffff;
  box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.para2 {
  position: absolute;
  width: 614px;
  height: 132px;
  left: 413px;
  top: 339px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: red;
}
.quote {
  position: absolute;
  /* width: 19.09px;
height: 30px; */
  max-width: 4%;
  left: 400.09px;
  top: 255px;
}
.quote3 {
  position: absolute;
  /* width: 19.09px;
height: 30px; */
  max-width: 4%;
  left: 1008.18px;
  top: 255px;
}
.quotepara {
  position: absolute;
  width: 614px;
  height: 132px;
  left: 413px;
  top: 1200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #202020;
}
.avatar {
  /* position: absolute; */
  /* display: flex;
  flex-direction: column; */
  width: 60px;
  height: 60px;
  /* width: 169.53px;
  height: 200.25px; */
  /* margin: 65px 0 0 -299px; */
  /* background: url(D:\klenty\Assets\terersa.png); */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 100px;
  /* or 187% */
  color: #05034e;
  /* left: 300px; */
}
.author {
  /* position: relative; */
  /* width: 224px;
height: 60px; */
  /* left: 651px; */
  /* top: 325px; */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* line-height: 30px; */
  padding-top: 20px;
  padding-top: 50px;
  margin-left: 100px;

  /* or 187% */
  color: #05034e;
}
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
